<!-- Breadcrumb -->
<div id="content">
	<div class="row">
		<sa-big-breadcrumbs [items]="['Home']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
	</div>

	<!-- Sites -->
	<div class="row">
		<article class="col-sm-2 col-md-2 col-lg-2">
			<h3>Sites</h3>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Site</th>
					</tr>
				</thead>
				<tr>
					<td class="selectedRow">Last Modified</td>
				</tr>
				<tr *ngFor="let site of sites" (click)="getChannel(site)">
					<td>{{ site.nom }}</td>
				</tr>
			</table>
		</article>

		<!-- Last modified -->
		<article class="col-sm-7 col-md-7 col-lg-4">
			<h3>Last modified channel</h3>
			<div class="table">
				<thead>
					<tr>
						<th scope="col">Status</th>
						<th scope="col">Channel name</th>
						<th scope="col">Revision</th>
					</tr>
				</thead>
				<tr *ngFor="let channel of channels" (click)="getDetail(channel)">
					<td *ngIf="channel.status == 'Enable'"><span class="label label-success">{{ channel.status }}</span></td>
					<td *ngIf="channel.status == 'Disable'"><span class="label label-default">{{ channel.status }}</span></td>
					<td *ngIf="channel.status == 'Deleted'"><span class="label label-danger">{{ channel.status }}</span></td>
					<td *ngIf="channel.status !== 'Deleted' && channel.status !== 'Disable' && channel.status !== 'Enable'">{{ channel.status }}</td>
					<td>{{ channel.name }}</td>
					<td>{{ channel.revision }}</td>
				</tr>
			</div>
		</article>
	</div>
</div>